modelos_desarrollo/artefactos/*.joblib filter=lfs diff=lfs merge=lfs -text
modelos_desarrollo/artefactos/*.surprise filter=lfs diff=lfs merge=lfs -text
modelos_desarrollo/data/*.csv filter=lfs diff=lfs merge=lfs -text
